.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding: 1.25rem;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  padding-bottom: 0.63rem;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background-color: #854023;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card__image {
  width: 100%;
  height: 300px;
  border-bottom: 2px solid #550d08;
  object-fit: cover;
}

.card__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.63rem 0;
  padding: 0 0.63rem;
  font-size: 1.3rem;
  text-align: center;
  color: #ffffff;
  word-wrap: break-word;
}

.cards-container button {
  padding: 0.63rem 0.94rem;
  margin: 0.63rem 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #550d08;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cards-container button:disabled {
  opacity: 0.7;
  color: #cccccc;
  background-color: #854023;
  cursor: not-allowed;
}

.card__button-container {
  width: 100%;
  margin-top: 0.63rem;
  text-align: center;
}

.card__button-container button {
  width: 90%;
}

.tag-new {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.63rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 0.8rem;
  text-align: center;
  color: white;
  background-color: #550d08;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.cards-container button:hover {
  background-color: #200c0c;
  transform: scale(1.05);
}
