<div class="addProfile">
    <h4 class="addProfile__title"># Ajouter ou modifier un Profil</h4>
    <form class="addProfile__form">
        <select id="profile-select" name="profile" required>
            <option value=""  selected>Choisir un profil à modifier</option>
            {{options}} 
        </select>
        <input id="profile-id" type="hidden" name="id" value=""> 
        <input id="profile-name" type="text" name="name" placeholder="Nom du profil" required>
        <input id="profile-avatar" type="text" name="avatar" placeholder="Avatar ou image associée (facultatif)" >
        <input id="profile-min-age" type="text" name="min_age" placeholder="Restrictions d'âge"  required >
        <input onclick="{{handler}}" class ="addMovie__form-button" type="button" value="Ajouter" name="todo">

    </form>
</div>
