.addMovie {
    background-color: #200c0c; /* Asphalt */
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addMovie__title {
    color: white; /* Earth Brown */
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.addMovie__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addMovie__form-input {
    padding: 10px;
    border: 2px solid #854023; /* Fire */
    border-radius: 5px;
    font-size: 1rem;
    color: #550d08; /* Earth Brown */
    background-color: #ffffff;
}

.addMovie__form-input::placeholder {
    color: #854023; /* Fire */
}

.addMovie__form-input:focus {
    outline: none;
    border-color: #200c0c; /* Asphalt */
    box-shadow: 0 0 5px #200c0c;
}

.addMovie__form-select {
    padding: 10px;
    border: 2px solid #854023; /* Fire */
    border-radius: 5px;
    font-size: 1rem;
    color: #550d08; /* Earth Brown */
    background-color: #ffffff;
    cursor: pointer;
}

.addMovie__form-button {
    background-color: #854023; /* Fire */
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addMovie__form-button:hover {
    background-color: #550d08; /* Earth Brown */
}