/* Styles par défaut (mobile) */
.addMovie {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 100%;
    padding: 1.25rem;
    border-radius: 10px;
    font-family: var(--ff-sans);
    color: var(--color-fg);
    background-color: var(--color-dark-red);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.addMovie__title {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    text-align: center;
    color: var(--color-fg);
}

.addMovie__form {
    display: flex;
    flex-direction: column;
    gap: 0.63rem;
}

.addMovie__form-input {
    padding: 0.63rem;
    border: 2px solid var(--color-light-red);
    border-radius: 5px;
    font-size: 0.88rem;
    color: var(--color-brown);
    background-color: var(--color-white);
}

.addMovie__form-input::placeholder {
    color: var(--color-light-red);
}

.addMovie__form-input:focus {
    outline: none;
    border-color: var(--color-dark-red);
    box-shadow: 0 0 5px var(--color-dark-red);
}

.addMovie__form-select {
    padding: 0.63rem;
    border: 2px solid var(--color-light-red);
    border-radius: 5px;
    font-size: 0.88rem;
    color: var(--color-brown);
    background-color: var(--color-white);
    cursor: pointer;
}

.addMovie__form-button {
    padding: 0.63rem;
    border: none;
    border-radius: 5px;
    font-size: 0.88rem;
    color: var(--color-fg);
    background-color: var(--color-light-red);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addMovie__form-button:hover {
    background-color: var(--color-brown);
}

@media (min-width: 768px) {
    .addMovie {
        max-width: 500px;
        margin-bottom: 2rem;
        padding: 1.56rem;
        border-radius: 12px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .addMovie__title {
        margin-bottom: 1.25rem;
        font-size: 1.5rem;
    }

    .addMovie__form {
        gap: 0.94rem;
    }

    .addMovie__form-input,
    .addMovie__form-select {
        font-size: 1rem;
    }

    .addMovie__form-button {
        font-size: 1rem;
    }
}