.moderate-comments {
  display: block;
  margin: 0 auto;
  margin-top: 1.25rem;
  padding: 1.25rem;
  max-width: 500px;
  border-radius: 10px;
  font-family: var(--ff-sans);
  color: var(--color-fg);
  background-color: var(--color-dark-blue);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.moderate-comments__title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: var(--color-blue);
}

.moderate-comments__list {
  display: flex;
  flex-direction: column;
  gap: 0.63rem;
  padding: 0.63rem;
  border: 2px solid var(--color-blue);
  border-radius: 5px;
  background-color: var(--color-white);
  color: var(--color-gray-dark);
}

.moderate-comments__list-item {
  padding: 0.63rem;
  border-radius: 5px;
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  font-size: 1rem;
}

.moderate-comments__card-button {
  padding: 0.63rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: var(--color-fg);
  background-color: var(--color-blue);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.moderate-comments__card-button:hover {
  background-color: var(--color-pink);
}

@media (min-width: 768px) {
  .moderate-comments {
    display: block;
    margin-top: 1.88rem;
    padding: 1.25rem;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .moderate-comments__title {
    text-align: center;
    font-size: 1.75rem;
    color: var(--color-blue);
  }

  .moderate-comments__list {
    display: flex;
    flex-direction: column;
    gap: 0.94rem;
    padding: 0.94rem;
    border: 2px solid var(--color-blue);
    border-radius: 8px;
    background-color: var(--color-white);
    color: var(--color-gray-dark);
  }

  .moderate-comments__list-item {
    padding: 0.94rem;
    border-radius: 5px;
    background-color: var(--color-blue-dark);
    color: var(--color-white);
    font-size: 1.1rem;
  }

  .moderate-comments__card-button {
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    color: var(--color-fg);
    background-color: var(--color-blue);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}
