<div class="movie-detail">
  <div class="movie-trailer-container">
    <iframe class="movie-trailer" src="{{movieTrailerUrl}}" width="100%" height="315" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="movie-info-container">
    <img class="movie-poster" src="../server/images/{{image}}" alt="Affiche du film" />
    <div class="movie-details">
      <h1 class="movie-title">
        {{movieTitle}}
        {{#is_new}}{{/is_new}}
      </h1>
      <p><strong>De :</strong> <span class="movie-director">{{movieDirector}} </span><span class="movie-year">({{movieYear}})</span></p>
      <span class="movie-category category-badge">{{movieCategory}}</span><span class="movie-age-restriction age-badge">+ {{movieAgeRestriction}} ANS</span>
      <div class="movie-rating">
        <h3>Note moyenne : <span id="average-rating">{{averageRating}}</span>/10</h3>
        <div id="rating-interface">
          <label for="rating">Votre note :</label>
          <select id="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <button class="rating-button" onclick="{{onclick}}">Noter</button>
        </div>
      </div>
    </div>
  </div>
  <div class="movie-synopsis">
    <h2>Synopsis</h2>
    <p>{{movieSynopsis}}</p>
  </div>
</div>