/* Conteneur principal */
.movie-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 1.25rem;
  color: black;
}

/* Titre du film */
.movie-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;
  font-size: 2.5rem;
  text-align: center;
  color: #9F6920;
}

/* Affiche du film */
.movie-poster {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1.25rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Synopsis */
.movie-synopsis {
  margin-bottom: 1.25rem;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
}

/* Informations supplémentaires */
.movie-detail p {
  margin: 0.63rem 0;
  font-size: 1.1rem;
}

.movie-detail strong {
  color: #9F6920;
}

/* Conteneur de la bande-annonce */
.movie-trailer-container {
  margin-top: 1.88rem;
  text-align: center;
}

.movie-trailer-container h3 {
  margin-bottom: 0.94rem;
  font-size: 1.8rem;
  color: #9F6920;
}

.movie-trailer {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Section de notation moyenne */
.movie-rating {
  margin-top: 1.88rem;
  font-size: 1.2rem;
  text-align: center;
}

.movie-rating h3 {
  margin-bottom: 0.94rem;
  font-size: 1.5rem;
  color: #9F6920;
}

/* Interface de notation */
#rating-interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.63rem;
}

#rating-interface label {
  margin-bottom: 0.63rem;
  font-size: 1.1rem;
}

#rating-interface select {
  margin-bottom: 0.63rem;
  padding: 0.31rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

#rating-interface button {
  padding: 0.63rem 1.25rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  background-color: #9F6920;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#rating-interface button:hover {
  background-color: #7e4f18;
}

.tag-new {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.63rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 0.8rem;
  text-align: center;
  color: white;
  background-color: #550d08;
}