/* Conteneur principal */
.movie-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: black; 
  max-width: 800px;
  margin: 0 auto;
}

/* Titre du film */
.movie-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #9F6920;
  text-align: center;
  display: flex; /* Permet d'aligner le titre et le tag sur la même ligne */
  align-items: center; /* Centre verticalement le tag par rapport au titre */
  justify-content: center; /* Centre horizontalement dans le conteneur */
}

/* Affiche du film */
.movie-poster {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Synopsis */
.movie-synopsis {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.6;
}

/* Informations supplémentaires */
.movie-detail p {
  font-size: 1.1em;
  margin: 10px 0;
}

.movie-detail strong {
  color: #9F6920; /* Accentuation avec la couleur du bouton */
}

/* Conteneur de la bande-annonce */
.movie-trailer-container {
  margin-top: 30px;
  text-align: center;
}

.movie-trailer-container h3 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #9F6920; /* Accentuation */
}

.movie-trailer {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Section de notation moyenne */
.movie-rating {
  margin-top: 30px;
  text-align: center;
  font-size: 1.2em;
}

.movie-rating h3 {
  font-size: 1.5em;
  color: #9F6920;
  margin-bottom: 15px;
}

/* Interface de notation */
#rating-interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#rating-interface label {
  font-size: 1.1em;
  margin-bottom: 10px;
}

#rating-interface select {
  padding: 5px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

#rating-interface button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #9F6920;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#rating-interface button:hover {
  background-color: #7e4f18;
}

.tag-new {
  background-color: #550d08;
  border-radius: 50%;
  color: white;
  font-size: 0.8rem; /* Réduction de la taille du texte */
  margin-left: 10px; /* Espacement entre le titre et le tag */
  width: 30px; /* Taille réduite pour s'adapter au titre */
  height: 30px; /* Hauteur égale à la largeur pour un cercle parfait */
  display: inline-flex; /* Aligne le contenu horizontalement et verticalement */
  align-items: center; /* Centre verticalement le texte */
  justify-content: center; /* Centre horizontalement le texte */
  text-align: center; /* Assure un bon alignement du texte */
}