<div id="movie-detail">
  <h1 id="movie-title">{{movieTitle}}</h1>
  <img id="movie-poster" src="https://mmi.unilim.fr/~lippler1/SAE203-Manon/server/images/{{image}}" alt="Affiche du film" />
  <p id="movie-synopsis">{{movieSynopsis}}</p>
  <p><strong>Réalisateur :</strong> <span id="movie-director">{{movieDirector}}</span></p>
  <p><strong>Année de sortie :</strong> <span id="movie-year">{{movieYear}}</span></p>
  <p><strong>Catégorie :</strong> <span id="movie-category">{{movieCategory}}</span></p>
  <p><strong>Restrictions d'âge :</strong> <span id="movie-age-restriction">{{movieAgeRestriction}}</span></p>
  <div id="movie-trailer-container">
    <h3>Trailer</h3>
    <iframe id="movie-trailer" src="{{movieTrailerUrl}}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
  </div>
</div>