.comments-section {
  width: 100%;
  padding: 0.94rem;
  border-radius: 0;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  box-shadow: none;
  font-family: var(--ff-sans);
}

.comments-section h3 {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 0.63rem;
  color: var(--color-blue);
}

#comments-list {
  display: flex;
  flex-direction: column;
  gap: 0.94rem;
  margin-bottom: 0.94rem;
  padding: 0;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0.94rem;
  border-radius: 10px;
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-family: var(--ff-sans);
}

.comment p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.63rem;
  color: var(--color-gray-light);
}

.comment strong {
  color: var(--color-blue);
}

.comment small {
  font-size: 0.9rem;
  color: var(--color-gray);
}

#new-comment {
  width: 100%;
  padding: 0.63rem;
  margin-bottom: 0.63rem;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  font-size: 1rem;
  resize: vertical;
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  font-family: var(--ff-sans);
}

#submit-comment {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  background-color: var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-comment:hover {
  background-color: var(--color-blue-greyish);
}

@media (min-width: 768px) {
  #comments-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: flex-start;
  }

  .comment {
      width: calc(33.333% - 20px);
  }

  .comments-section h3 {
      font-size: 1.8em;
      margin-bottom: 15px;
  }
}