<div class="updateProfile">
    <h4 class="updateProfile__title"># Modifier un Profil</h4>
    <form class="updateProfile__form">
        <!-- Menu déroulant pour sélectionner un profil -->
        <select id="profile-select" name="profile" required>
            <option value="" disabled selected>Choisir un profil à modifier</option>
            {{options}} <!-- Les options seront générées dynamiquement -->
        </select>

        <!-- Champs pour modifier les informations du profil -->
        <input id="profile-name" type="text" name="name" placeholder="Nom du profil" required>
        <input id="profile-avatar" type="text" name="avatar" placeholder="Avatar ou image associée (facultatif)">
        <input id="profile-min-age" type="text" name="min_age" placeholder="Restrictions d'âge" required>
        <input onclick="{{handler}}" type="button" value="Modifier" name="todo">
    </form>
</div>
