.navbar {
  display: flex;
  justify-content: space-between; /* Sépare les éléments */
  align-items: center;
  width: 100vw; /* Prend toute la largeur de la fenêtre */
  padding: 0.5rem 2rem; /* Moins de hauteur */
  margin: 0; /* Supprime toute marge */
  color: white;
  background-color: #854023;
}

.navbar__list {
  display: flex;
  justify-content: center; /* Centre les items */
  flex-grow: 1; /* Permet aux menus de s'étendre pour occuper l'espace central */
  gap: 2rem; /* Espacement entre les éléments */
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__item {
  padding: 0.5rem 1rem;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.2rem;
  cursor: pointer;
  transition: text-underline-offset 0.2s ease-in-out;
}

.navbar__item:hover {
  text-underline-offset: 0.5rem;
}

/* Profil utilisateur à droite */
.navbar__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__select {
  padding: 10px;
  border: 2px solid #550d08;
  border-radius: 5px;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
